.pagewidth {
  /*max-width: 1350px;*/
}

body {
  font-family: ProximaNova, sans-serif;
}

.header {
  padding: 12px 90px 0 90px;
}

.crypto-description {
  margin: 100px 0 70px 0;
}

.Buy-and-Sell-Bitcoin {
  /*width: 770px;*/
  height: 49px;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Cryptoshop-is-an-ove {
  /*width: 770px;*/
  height: 90px;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.main-container {
  background: #1565c0;
  padding-bottom: 100px;
}
.Cryptoshop-is-an-ove .text-style-1 {
  font-weight: bold;
  text-decoration: underline;
}

ul#menu-main-menu {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

#site-navigation {
  text-align: center;
}

ul#menu-main-menu li {
  float: left;
  padding: 0 15px 0 15px;
}

#menu-main-menu a {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #FFFFFF;
}

#menu-main-menu a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.currency-box {
  height: 170px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(55, 71, 79, 0.24);
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

.currency-box .currency-img {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.currency-box .intro-coin-box {
  padding: 20px 0;
  text-align: left;
}

.currency-box .intro-coin-box p {
  margin-bottom: 0;
}

.currency-box .intro-coin-box .intro-coin {
  font-size: 20px;
  font-weight: 300;
  color: #37474f;
}

.currency-box .intro-coin-box .intro-symbol {
  font-size: 30px;
  font-weight: 600;
  color: #37474f;
}

.currency-box .intro-coin-box .intro-price {
  font-size: 30px;
  font-weight: 300;
  color: #37474f;
}

.currency-img .coin-icon {
  position: absolute;
  top: 25%;
  left: 25%;
}

.second-container {
  background-color: #fafafa;
}
.crypto-howwork, .why-crypto, .others, .booking, #main-footer {
  padding: 60px 0 60px 0;
}

.exchange-box, .exchange-description {
  height: 380px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(55, 71, 79, 0.12);
}

.exchange-description {
  padding: 25px;
}

.exchange-box {

}

.switch-currency, .exchange-header {
  height: 70px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(55, 71, 79, 0.12);
}

.Buy-BTC, .Buy-ETH {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1565c0;
  line-height: 4;
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half-width {
  width: 50%;
}

.fullwidth{
  width: 100%;
}

.Buy-BTC:hover, .Buy-ETH:hover, .selected-currency {
  border-bottom: solid 2px #1565c0;
}

.exchange-exe {
  margin-top: 15px;
  padding: 20px;
}

.Keywords {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #475962;
}

#btc-buy, #usd-pay {
  width: 80%;
  padding: 10px;
  border-radius: 4px 0 0 4px;
}

.coin-symbol, .usd-symbol {
  width: 20%;
  text-align: center;
  height: 46px;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #475962;
}

#exchangebtn {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #1565c0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

#exchangebtn:hover {
  background-color: #000000;
}

.exchange-header {
  height: 55px;
  box-shadow: none;
}

.exchange-header span {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1565c0;
}

.oval {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  box-shadow: 0 1px 4px 0 rgba(55, 71, 79, 0.12);
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  color: #1565c0;
  text-align: center;
}

.step-text {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #37474f;
}

.separate {
  width: 2px;
  height: 40px;
  position: relative;
  border: solid 1px #1565c0;
  left: 20px;
  margin: 5px 0 5px 0;
}

.exchange-steps {
  margin-left: 30px;
}

.why-crypto .h4, .others .h4 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1565c0;
  text-align: center;
}
.reason-left, .reason-right {
  height: 160px;
  margin: 20px 0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(55, 71, 79, 0.12);
}

.reason-left {
  margin-left: 40px;
}

.reason-left .row, .reason-right .row {
  margin: 0;
  padding: 0;
}

.reason-right {
  margin-right: 40px;
}

.reason-left .image, .reason-right .image {
  padding: 20px 10px;
  text-align: center;
}

.phrase {
  padding-top: 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #78909c;
}

.phrase .h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #37474f;
}

.txtcenter {
  text-align: center;
}

.list-currency {
  margin-top: 60px;
}

.booking {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}

.booking .h4 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 60px;
}

.bookbtn {
  width: 370px;
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: #1565c0;
}

.bookbtn:hover {
  color: #000;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 #cacad8;
}

.disable {
  color: gray;
}

#main-footer {
  position: relative;
}

#main-footer .row {
  margin: 0;
  padding: 0;
}

#main-footer .cnss-social-icon {
  text-align: right !important;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/webfonts/ProximaNovaA-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}